div.container
    footer
        p.copyright &copy; 2017 Kevin Stubblefield
        p.email kevin[at]stubblefield[dot]io
        div.social-media-links
            a.icon(href="https://www.linkedin.com/in/kevin-stubblefield-b195587b/")
                i.fa.fa-3x.fa-linkedin

            a.icon(href="https://github.com/kevin-stubblefield")
                i.fa.fa-3x.fa-github

            a.icon(href="https://twitter.com/winterfresh92")
                i.fa.fa-3x.fa-twitter

            a.icon(href="https://facebook.com/winterfresh92")
                i.fa.fa-3x.fa-facebook

            a.icon(href="https://instagram.com/kstubblefield92")
                i.fa.fa-3x.fa-instagram