div.container
    header
        div.logo
            a(href="/") Kevin Stubblefield

        div.nav
            a(href="files/resume.pdf") Resume

            a(href="/about") About

            a(id="blog-link" href="/blog") Blog

            a(href="/todo") Project Dashboard