extends ./layouts/layout

block content
    div.container
        div.about
            img.profile(src="/images/me.jpg")
            p.paragraph Currently, I develop new features and maintain the payroll engine for Paycom, a payroll solution for businesses across the United States. I graduated in 2015 from University of Central Oklahoma with a B.S. in Computer Science.

            p.paragraph I love to learn about new technologies and spend vast periods of time outside of work learning and building. Lately, I've worked on 5 Over Games, a company I've co-founded to create mobile games relevant to today's environmental issues. This venture alone has led me to improving my web design skills as well as learning Unity2D.

            p.paragraph Outside of development, I enjoy playing video games, reading books, and hiking. I play games of all varieties, but I most love RPGs and adventure games. Reading books and hiking are more recent additions to the things I do. Right now, I'm (slowly) making my way through Harry Potter (sort of again, I never finished 6 or 7). I've enjoyed hikes around Oklahoma's lakes and can't wait to get out more and explore real mountains.