extends ./layouts/layout

block content
    div.container
        if Object.keys(user).length > 0 && user.role > 0
            a.button(href="/blog/createPost") New Post
        if posts.length
            each post in posts
                div.entry-item
                    a.title(href="/blog/" + post.url)
                        header.header= post.title
                    div.body
                        div.post-preview
                            p!= post.htmlContent.substr(0, 140)
                    footer.footer
                        p.date= post.formattedDate
        else
            div.message.warning
                p No blog posts at this time