extends ./layouts/layout

block content
    div.container
        form#post-form(method="post" action="/blog")
            div.field
                input.input(type="text" name="title" placeholder="Title")

            div.field
                textarea#post.textarea(name="markdownContent" placeholder="Write your post here...")

            div.field
                input.button(type="submit" name="submit" value="Submit")

            input(type="hidden" name="fromBrowser" value="true")

        script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
        script(type="text/javascript" src="/js/blogPost.js")