extends ./layouts/layout.pug

block content
    div.container
        div.content
            a(href="http://www.5overgames.com")
                div.project
                    img.image(src="/images/5over.jpg")
                    h3.title 5 Over Games, LLC
                    p.caption 5 Over Games, LLC is a company I've co-founded that develops mobile games with environmental themes. I am currently the sole developer.

            a(href="http://www.5overgames.com/games-frackn.php")
                div.project
                    img.image(src="/images/frackn.jpg")
                    h3.title Frack'n
                    p.caption Frack'n is the debut game by 5 Over Games, LLC, coded entirely by me using Unity3D.