/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   *******************
   RESET
   *******************
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************
TYPOGRAPHY
*****************/

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
thead,
tbody {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #777;
}

p {
    margin-bottom: 15px;
    line-height: 1.4em;
}

a:visited {
    color: #777;
}

a:hover {
    color: #444;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.35em;
}

a.button {
    display: inline-block;
    margin-bottom: 25px;
}

/*****************
GENERAL LAYOUT
*****************/

.container {
    width: 960px;
    margin: 0 auto;
}

/*****************
HEADER
*****************/

.container header {
    display: flex;
    align-items: flex-end;
    margin: 20px auto 50px;
}

.logo a {
    font-family: 'Exo', 'sans-serif';
    font-size: 1.75em;
}

.nav {
    margin-left: auto;
    position: relative;
}

.nav a {
    margin-left: 15px;
}

.nav a .fa {
    margin-left: 5px;
}

/*****************
CONTENT
*****************/

.content {
    display: flex;
    display: -ms-flex;

    justify-content: space-around;
    -ms-flex-pack: space-around;
}

.project {
    width: 320px;
}

.project .image {
    width: 320px;
}

.project .title {
    font-size: 1.25em;
    font-family: "Ubuntu", "sans-serif";
    text-align: center;
    color: #444;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
    margin-top: 10px;
}

.project .caption {
    margin-top: 15px;
    padding: 0 5px;
}

.about .paragraph {
    margin-bottom: 2em;
}

.profile {
    margin-left: 15px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #444;
    float: right;
}

.message {
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 6px -5px #444;
    width: 33.333333334%;
    padding: 15px 15px;
    background: #ffcccc;
}

.message.warning p {
    color: #7f0000;
    margin-bottom: 0;
}

/*****************
BLOG
*****************/

.entry-item {
    margin: 0 auto 50px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: 0 5px 6px -5px #444;
}

.entry-item:last-of-type {
    margin-bottom: 0;
}

.entry-item .header,
.entry-item .body,
.entry-item .footer {
    margin: 0;
    padding: 10px;
}

.entry-item .header {
    font-size: 1.25em;
}

.entry-item .footer {
    text-align: center;
    font-style: italic;
}

/*****************
BLOG POST
*****************/

.post .title {
    font-family: "Exo", "sans-serif";
    margin-bottom: 5px;
}

.post .date {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
}

.post .body {
    width: 640px;
    margin: 0 auto;
}

.comments {
    padding-top: 25px;
    margin-top: 15px;
    border-top: 1px solid #bbb;
}

.comment {
    margin: 0 auto 15px;
    width: 640px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: 0 5px 6px -5px #444;
    padding: 10px;
}

.comment .body {
    width: 640px;
    margin: 0 auto;
}

/*****************
TODO DASHBOARD
*****************/

.dashboard {
    display: flex;
    display: -ms-flex;

    justify-content: space-between;
    -ms-flex-pack: space-between;
}

.projects {
    width: 192px;
}

.projects li {
    display: flex;
    align-items: center;
    padding: 10px;
    line-height: 22px;
    min-height: 40px;
    font-size: 18px;
    border: 1px solid #bbb;
    border-top: none;
    transition: all 250ms ease-in-out;
}

.projects li:first-of-type {
    border-top: 1px solid #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.projects li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 6px -5px #444;
}

.projects li.active {
    background: #4D642D;
    color: #fff;
}

.projects li:hover {
    background: #4D642D;
    cursor: pointer;
    color: #fff;
}

.project-details {
    width: 718px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: 0 5px 6px -5px #444;
}

#project-details-header {
    display: flex;
    display: -ms-flex;

    align-content: center;
    -ms-flex-align: center;

    justify-content: space-between;
    -ms-flex-pack: space-between;

    border-bottom: 1px solid #bbb;
    padding: 15px;
    line-height: 30px;
}

#project-description {
    cursor: pointer;
}

#add-task-button {
    min-width: 120px;
}

#project-tasks {
    padding: 15px;
}

.project-task {
    display: flex;
    display: -ms-flex;

    align-items: center;

    justify-content: space-between;
    -ms-flex-pack: space-between;

    padding: 0 15px;
    line-height: 22px;
    min-height: 60px;
    background: rgb(240, 240, 240);
    color: #777;
}

.project-task .fa {
    margin-left: 15px;
    cursor: pointer;
}

.project-task:nth-of-type(even) {
    background: #fff;
    color: #777;
}

.project-task.complete {
    background: rgb(208, 233, 173);
    border-bottom: 1px solid #bbb;
}

.project-task.complete:last-of-type {
    border: none;
}

.icons {
    min-width: 90px;
}

.icons.hidden {
    display: none;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 192px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #bbb;
    transition: left 250ms ease-in-out;
}

#menu.hidden {
    left: -192px;
}

#menu .button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

#menu-button {
    position: fixed;
    top: 15%;
    margin-top: -30px;
    left: 0;
    height: 80px;
    width: 45px;
    background: #fff;
    border: 1px solid #bbb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: left 250ms ease-in-out;
}

#menu-button.clicked {
    left: 192px;
}

#menu-button:hover {
    background: #4D642D;
}

#menu-button .fa {
    color: #4D642D;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

#menu-button:hover .fa {
    color: #fff;
}

/*****************
BILLS
*****************/

.paid.button {
    padding: 0 15px;
    margin: 0;
}

.ledger-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: flex-end;
}

.bills {
    display: table;
    border-collapse: separate;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bbb;
    margin-bottom: 30px;
    box-shadow: 0 5px 6px -5px #444;
}

.bills thead {
    font-size: 1.4rem;
}

.bills thead th {
    padding: 15px 0;
    border-bottom: 1px solid #bbb;
}

.bills tbody {
    font-size: 1.1rem;
}

.bills tbody tr.bill {
    background: rgb(240, 240, 240);
}

.bills tbody tr.bill:hover,
.bills tbody tr.bill.odd:hover {
    cursor: pointer;
    background: rgb(230, 230, 230);
}

.bills tbody tr.bill.odd {
    background: #fff;
}

.bills td {
    text-align: center;
    padding: 15px;
}

.bills td.payments {
    padding: 0;
    background: #fff;
}

.bills td.message {
    cursor: default;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bills td.message.complete {
    background: rgb(208, 221, 191);
}

.bills td.amount {
    text-align: right;
}

.bills .hide {
    display: none;
}

.payments {
    width: 100%;
}

thead tr.payment-head {
    background: rgb(208, 221, 191);
}

tbody tr.payment {
    background: #fff;
}

tbody tr.payment.odd {
    background: rgb(208, 221, 191);
}

td.awaiting span {
    background-color: #ffcccc;
    padding: 5px;
    border-radius: 2px;
}

/*****************
FOOTER
*****************/

.container footer {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.copyright {
    text-align: center;
    margin-bottom: 15px;
}

.email {
    text-align: center;
    margin-bottom: 25px;
}

.social-media-links {
    text-align: center;
}

/*****************
FORM
*****************/

form {
    margin: 0 auto;
    width: 640px;
}

.field {
    margin-bottom: 15px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 5px 6px -6px #444;
    font-size: 1em;
    color: #777;
}

.textarea {
    width: 100%;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 1em;
}

.button {
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: white;
    color: #777;
    font-family: "Ubuntu", "sans-serif";
    font-size: 1em;
}

.button:hover {
    background: #4D642D;
    color: #fff;
    cursor: pointer;
}

/*****************
ICONS
*****************/

.icon {
    text-decoration: none;
    margin-right: 25px;
}

.fa {
    color: #4D642D;
}

.icon:last-of-type {
    margin-right: 0;
}

.fa:hover {
    color: #8EA86C;
}