/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   *******************
   RESET
   *******************
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************
TYPOGRAPHY
*****************/

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #777;
}

p {
    margin-bottom: 15px;
    line-height: 1.4em;
}

a:visited {
    color: #777;
}

a:hover {
    color: #444;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.35em;
}

/*****************
GENERAL LAYOUT
*****************/

.container {
    width: 960px;
    margin: 0 auto;
}

/*****************
HEADER
*****************/

.container header {
    display: flex;
    align-items: flex-end;
    margin: 20px auto 50px;
}

.logo a {
    font-family: 'Exo', 'sans-serif';
    font-size: 1.75em;
}

.nav {
    margin-left: auto;
}

.nav a {
    margin-left: 15px;
}

/*****************
CONTENT
*****************/

.content {
    display: flex;
    display: -ms-flex;

    justify-content: space-around;
    -ms-flex-pack: space-around;
}

.project {
    width: 320px;
}

.project .image {
    width: 320px;
}

.project .title {
    font-size: 1.25em;
    font-family: "Ubuntu", "sans-serif";
    text-align: center;
    color: #444;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
    margin-top: 10px;
}

.project .caption {
    margin-top: 15px;
    padding: 0 5px;
}

.about .paragraph {
    margin-bottom: 2em;
}

.profile {
    margin-left: 15px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #444;
    float: right;
}

.message {
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 6px -5px #444;
    width: 33.333333334%;
    padding: 15px 15px;
    background: #ffcccc;
}

.message.warning p {
    color: #7f0000;
    margin-bottom: 0;
}

/*****************
BLOG
*****************/

.entry-item {
    margin: 0 auto 50px;
    width: 480px;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: 0 5px 6px -5px #444;
}

.entry-item:last-of-type {
    margin-bottom: 0;
}

.entry-item .header,
.entry-item .body,
.entry-item .footer {
    margin: 0;
    padding: 10px;
}

.entry-item .header {
    font-size: 1.25em;
}

.entry-item .body {
}

.entry-item .footer {
    text-align: center;
    font-style: italic;
}

/*****************
BLOG POST
*****************/

.post .title {
    font-family: "Exo", "sans-serif";
    margin-bottom: 5px;
}

.post .date {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
}

.post .body {
    width: 640px;
    margin: 0 auto;
}

/*****************
FOOTER
*****************/

.container footer {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.copyright {
    text-align: center;
    margin-bottom: 15px;
}

.email {
    text-align: center;
    margin-bottom: 25px;
}

.social-media-links {
    text-align: center;
}

/*****************
FORM
*****************/

form {
    margin: 0 auto;
    width: 640px;
}

.field {
    margin-bottom: 15px;
}

.field:last-of-type {
    margin-bottom: 0;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 5px 6px -6px #444;
    font-size: 1em;
    color: #777;
}

.textarea {
    width: 100%;
}

.button {
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: white;
    color: #777;
    font-family: "Ubuntu", "sans-serif";
    font-size: 1em;
}

.button:hover {
    background: #4D642D;
    color: #fff;
    cursor: pointer;
}

/*****************
ICONS
*****************/

.icon {
    text-decoration: none;
    margin-right: 25px;
}

.fa {
    color: #4D642D;
}

.icon:last-of-type {
    margin-right: 0;
}

.fa:hover {
    color: #8EA86C;
}