extends ../layouts/layout

block content
    div.container
        div.ledger-title
            h2 Bills
            button.add.button(onclick="addBill()" style="float: right;") Add Bill
        table.bills
            thead
                tr.header
                    th Amount
                    th Category
                    th Image
            tbody
                if bills.length > 0
                    each bill in bills
                        tr.bill
                            td.amount= '$' + bill.amount
                            td.category= bill.category
                            td.image Placeholder
                else
                    tr.bill
                        td.message.warning(colspan="3") No Bills Found
        
        div.ledger-title
            h2 Outstanding Payments
        table.bills
            thead
                tr.header
                    th Amount Owed
                    th Owed To
            tbody
                if outstandingPayments.length > 0
                    each payment in outstandingPayments
                        tr.bill
                            td.amount= '$' + payment.amount
                            td= payment.paidTo.displayName
                else
                    tr.bill
                        td.message.warning(colspan="2") No Outstanding Payments, Good Job!